.prefecture-header{
  width: 100%;
  height: 80px;
  h1{
    text-align: center;
    margin: 10px 0px;
    font-size: 50px;
    font-family: "M PLUS Rounded 1c";
  }
}
.prefecture-main{
  height: 100%;
  width: 100%;
  .prefecture-main__box{
    padding: 10px 10px;
    margin: 60px 150px;
    font-weight: bold;
    border: solid 3px #000000;
    height:100%;
    &--area{
      padding: 0.7em 1.4em;
      background: #f4f4f4;
      border-left: solid 6px #5bb7ae;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
      width: 70px;
      float: left;
      display: inline-block;
    }
    &--info{
    width: 790px;
    font-weight: bold;
    margin: 55px 0px 60px 35px;
    list-style: none;
    display: inline-block;
    :first-child{
      margin: 0px 0px;
    }
    &__list{
      border: solid 3px #000000;
      margin: 30px 0px;
     li{
      height: 130px;
      display: flex;
      a{
        padding: 16px;
        width: 100%;
        text-decoration: none;
        color: #000;
        figure{
          position: relative;
          overflow: hidden;
          float: left;
          width: 160px;
          height: 100px;
          margin: 0;
          padding: 0;
          img{
            position: absolute;
            width: 100%;
          }
        }
        .notification{
          margin: 0 40px 0 68px;
          &__info{
            margin: 0px 140px;
          }
        }
        i{
          position: absolute;
          margin: 20px 0px;
          right: 210px;
          font-size: 26px;
        }
      }
     }
    }
    }
  }
}