.footer{
  height: 65px;
  width: 100%;
  background-color: #666666;
  text-align: center;
  .footer-text {
    color: #fff;
    font-family: 'Londrina Shadow', cursive;
    font-size: 40px;
    padding: 7px;
  }
}